.st0 {
    fill: none;
    stroke: rgb(0, 110, 255);
    stroke-width: 4;
    stroke-miterlimit: 0; 
}

.st1 {
    fill: rgb(0, 110, 255);
}

.st2 {
    fill: none;
    stroke: rgb(0, 110, 255);
    stroke-width: 4;
    stroke-miterlimit: 0; 
}

.st3 {
    fill: rgb(0, 110, 255);
}